$grid-left: 132px;
$grid-right: 123px;

$header: 100px;
$footer: 90px;

$featured: 740px;
$featured-padding: 33px;
$featured-content: 500px;
$featured-top: 70px;
$featured-bottom: 120px;

$main-padding: 33px;
$content-padding: 40px;
