@import 'variables';

.container {
  margin: 0 auto;
  padding: 0 $grid-right 0 $grid-left;

  @media #{$lt-md} {
    padding: 0 30px;
  }

  @media #{$lt-sm} {
    padding: 0 20px;
  }

  height: 100%;
  width: 100%;

  max-width: 1280px;
}

header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  color: #ffffff;
  height: $header;

  a {
    color: #ffffff;
    font-size: 15px;
    margin-right: 50px;
    text-decoration: none;
  }
}

main {
  padding: 0 0 $main-padding;

  .banner1 {
    margin-bottom: $content-padding;
  }

  .banner2 {
    font-size: 26px;
    font-weight: 200;
    padding: 0 25px 0 20px;

    @media #{$lt-md} {
      font-size: 22px;
      padding: 0 15px;
    }

    position: relative;
    height: 80px;
    z-index: 1;

    a {
      border: 3px solid black;
      color: black;
      display: inline-block;
      font-size: 20px;
      font-weight: 500;
      padding: 10px 35px;
      text-align: center;
      text-decoration: none;

      @media #{$lt-lg} {
        margin-left: 15px;
        padding: 5px 15px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .2;
      z-index: -1;
      background-image: url('/assets/banner2.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

footer {
  font-size: 12px;
  height: $footer;

  .container > div {
    border-top: 1px dotted #979797;
    width: 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    vertical-align: middle;
  }

  a {
    color: #333333;
    text-decoration: none;
  }

  span {
    color: #949494;
  }
}
