<header>
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <h1><a routerLink="/">Rule of Thumb.</a></h1>

    <nav fxLayout="row">
      <a routerLink="/past-trials">Past Trials</a>
      <a routerLink="/how-it-works">How It Works</a>
      <a href="#">Log In / Sign Up</a>
      <!-- search icon -->
    </nav>
  </div>
</header>

<main>
  <!-- featured trial -->
  <zemoga-trial-featured></zemoga-trial-featured>

  <div class="container" fxLayout="column">
    <zemoga-banner-counted></zemoga-banner-counted>

    <router-outlet></router-outlet>

    <zemoga-banner-propose></zemoga-banner-propose>
  </div>
</main>

<footer>
  <div class="container" fxLayout="row">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <ul fxLayout="row" fxLayoutGap="28px">
        <li><a href="#">Terms and Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>

      <ul fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <li><span>Follow Us</span></li>
        <li><a href="#"><i class="fab fa-2x fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-2x fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
