@import 'variables';

.container {
  margin: 0 auto;
  padding: 0 $grid-right 0 $grid-left;

  @media #{$lt-md} {
    padding: 0 30px;
  }

  @media #{$lt-sm} {
    padding: 0 20px;
  }

  height: 100%;
  width: 100%;

  max-width: 1280px;
}

header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;

  color: #ffffff;
  height: $header;

  .container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  }

  a {
    color: #ffffff;
    font-size: 15px;
    margin-right: 50px;
    text-decoration: none;
  }

  h1 a {
    font-size: 28px;
  }
}

main {
  padding: 0 0 $main-padding;
}

footer {
  font-size: 12px;
  height: $footer;

  .container > div {
    border-top: 1px dotted #979797;
    width: 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    vertical-align: middle;
  }

  a {
    color: #333333;
    text-decoration: none;
  }

  span {
    color: #949494;
  }
}
